@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root{
    --cor-primaria: #1C1678;
    --cor-secundaria: #8576FF;
    --cor-terciaria: #7BC9FF;
    --cor-quartenaria: #A3FFD6;
    --cor-hover: #16407b;
    text-decoration: none;

    --fonte-primaria: 'Krona One', 'sans-serif';
    --fonte-secundaria: 'Montserrat', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-quartenaria);
    text-align: center;
}

.cabecalho-menu {
    display: flex;
    justify-content: space-around;
}

.secao-header {
    display: flex;
    padding: 1%;
    gap: 1rem;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.secao-idioma {
    display: flex;
    padding: 1%;
    gap: 1rem;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.cabecalho-menu-link {
    color:#FFFAFA;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    padding: 3%;
    gap: 16px;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15%;
    gap: 32px;
}

.secao-esquerda {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.titulo {
    font-family: var(--fonte-primaria);
    font-size: 2rem;
    font-weight: 600;
}

.subtitulo {
    font-family: var(--fonte-primaria);
}

.paragrafo {
    font-family: var(--fonte-secundaria);
}

.disposicao-links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    border: solid 2px var(--cor-secundaria);
    padding: 8px 5px;
    gap: 16px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: #FFFAFA;
    width: 50%;
}

.link:hover {
    background-color: var(--cor-hover);
    padding: 3%;
}

.imagem {
    border-radius: 15%;
}

@media (max-width: 1200px){
    .cabecalho {
        padding: 5%;
        justify-content: space-between;
    }
    .cabecalho-menu {
        justify-content: space-between;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .secao-esquerda{
        width: auto;
    }
}